@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    @apply bg-slate-100 dark:bg-slate-900/95 transition-colors duration-300;
}

.x-scroll::-webkit-scrollbar {
    @apply h-[0px];
}

.users-list::-webkit-scrollbar {
    @apply w-[0px] sm:w-[7px]
}

.users-list::-webkit-scrollbar-track {
    @apply bg-gray-800/95
}

.users-list::-webkit-scrollbar-thumb {
    @apply bg-gray-700/95 rounded-[50px];
}

.users-list::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600/95;
}

@layer components {

    .public-sans {
        font-family: "Public Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    .navlink {
        @apply h-[60px] max-lg:h-[45px] max-lg:w-[45px] w-[55px] flex justify-center items-center rounded-[10px]
    }

}